
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerload :: load">
<title th:text="'Gestion Des Pièces'"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container mt-5 pt-5">
	<h1 class="mt-2">Stock de véhicules</h1>
		<a class="btn btn-success" th:href="@{/ajouterVehicule}">Nouveau Véhicule</a>
		<table class="table table-striped" th:unless="${action == 'ModifierVehicule'}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Marque</th>
					<th>Modèle</th>
					<th>Année</th>
					<th>Couleur</th>
					<th>Référence</th>
					<th>Prix Unitaire HT</th>
					<th>Quantité</th>
					<th>Dernière saisie</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vehicule : ${listeVehicules}">
					<td><a
						th:href="@{/afficherModifierVehicule/{id}(id=${vehicule.id})}"
						th:text="${vehicule.id}"></a></td>
					<td th:text="${vehicule.marque}" />
					<td th:text="${vehicule.modele}" />
					<td th:text="${vehicule.annee}" />
					<td th:text="${vehicule.couleur}" />
					<td th:text="${vehicule.reference}" />
					<td th:text="${vehicule.prixUnitaireHt}" />
					<td th:text="${vehicule.quantite}" />
					<td th:text="${#dates.format(vehicule.dateSaisieStock, 'dd-MMM-yyyy')}" />
					<td>
						<a class="btn btn-danger" th:href="@{/supprimerVehicule/{id}(id=${vehicule.id})}" th:text="'Vider stock'"></a>
						<a class="btn btn-info" th:href="@{/detailVehicule/{id}(id=${vehicule.id})}" th:text="'Détails'"></a>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- <h2 th:if="${action == 'ModifierVehicule'}">
			<a th:href="@{/afficherCreerClasse}"
				th:text="'Formulaire de Mofication'"></a>
		</h2>
		<h2 th:unless="${action == 'ModifierClasse'}">Formulaire d'Ajout</h2>

		<div>
			<form action="#" th:action="@{/{action}(action=${action})}"
				th:object="${classeform}" method="post">
				<input type="hidden" th:field="*{id}" th:value="*{id}" /> <label
					for="nom">Nom</label> <input type="text" th:field="*{nom}" id="nom"
					placeholder="nom" /> <select th:field="*{prof}">
					<option th:each="pprof :${listeprof}" th:value="${pprof.id}"
						th:utext="${pprof.nom}" />
				</select>
				<button type="submit">Valider</button>
			</form>
		</div> -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>