

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerload :: load">
<title th:text="'Gestion Des Pièces'"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container mt-5 pt-5">
	<h1 class="mt-2">Ajouter un Véhicule</h1>
	<div>
		  <form class="form" action="#" th:action="@{/ajouterVehicule}" 
		  th:object="${vehiculeForm}"   method="post">
		  <div class="form-group">
		    	<label for="reference">Référence</label>
		   		<input class="form-control" type="text" th:field="*{reference}" id="reference" placeholder="X54824"/>
		    	<label for="modele">Modèle</label>
		   		<input class="form-control" type="text" th:field="*{modele}" id="modele" placeholder="Mazda"/>
		    	<label for="marque">Marque</label>
		   		<input class="form-control" type="text" th:field="*{marque}" id="marque" placeholder="Citroën"/>
		    	<label for="couleur">Couleur</label>
		   		<input class="form-control" type="text" th:field="*{couleur}" id="couleur" placeholder="Rouge"/>
		    	<label for="annee">Année</label>
		   		<input class="form-control" type="text" th:field="*{annee}" id="annee" placeholder="Rouge"/>
		   		<label for="prixUnitaireHt">Prix Unitaire HT</label>
		   		<input class="form-control" type="text" th:field="*{prixUnitaireHt}" id="prixUnitaireHt" 
		   		placeholder="50.00"/>
		   		<label for="quantite">Quantité</label>
		   		<input class="form-control" type="text" th:field="*{quantite}" id="quantite" 
		   		placeholder="170"/>
		  </div>
		  <div class="row flex-row-reverse">
			  <a class="btn btn-warning mx-2" th:href="@{/afficherVehicule}">Annuler</a>
			  <button class="btn btn-success mx-2" type="submit">Valider</button>
		  </div>
		</form>
	 </div>

	<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>