<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
 
    <head th:fragment="load">
      <title th:text="Accueil"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" 
		          th:href="@{/css/bootstrap.min.css}" />
		        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" 
		          th:href="@{/css/style.css}" />
		          
		          
	 </head>
